/* This is a test SCF. */

init {
type 0
rgb 0 1.0 .4
fh 1
t0 100
}

color mirror {
type 1
rgb 0 .2 1.0
fd .1
fh .6
hm 0
hc 4
fs1 1
}

color light {
rgb 1,1,1
}

color map1 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 1 mapping.pic
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map2 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 2 mapping.pic
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map3 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 3 cr1 cr2 0 0 3 3
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 3 3 3
}

color map4 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 4 cr1 cr2 0 0 6 6
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map5 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 5 cr1 cr2 0 0 6 6
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map6 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 6 cr1 cr2 0 0 6 6
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map7 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 7 cr1 cr2 0 0 6 6
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map8 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 8 cr1 cr2 -2.75 -2.75 5.5 5.5
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color map9 {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 9 cr1 cr2 -2.75 -2.75 5.5 5.5
mapping 2
rbph 0 90 0
oxyz 0 0 0
scale 1 1 1
}

color base {
type 0
rgb 1 .6 .8
fd 1
fh 1
hm 0
hc 5
fs1 1
source 3 cr1 cr2 0 0 1 1
mapping 0
rbph 0 90 0
oxyz 0 0 0
scale 3 3 3
}
color cr1 {
type 0
rgb 0.0,0.0,1.0
fd 1
fh .05
hm 0
hc 4
}

color cr2 {
type 0
rgb 1.0,.0,.0
fd 1
fh .1
hm 0
hc 4
}

color cr3 {
type 2
rgb 0.1 0.1 0.1
fd 0.2
fh 0.1
hm 0
hc 4
fs2 0.9999999
t0 1000000
n 2.0
}
